<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twoinputbox</title>
    <script src="angular.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <style>
        p {
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <div ng-app="" class="form-group">
        <p>Enter Your first number
            <input type="number" name="x" ng-model="x" class="form-control" placeholder="Enter First Number"
                style="width: 200px;">
        </p>
        <p>Enter Your Second Number
            <input type="number" name="y" ng-model="y" class="form-control" placeholder="Enter Second Number"
                style="width: 200px;">
        </p>
        Result={{x+y}}

    </div>
</body>

</html>